<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src = "/img/logo-mercado-liebre.svg" alt="Logo">
            <div class="form">
                <form action="#" method="GET">
                    <input type="text" id="search" name="search" required >
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>                   
        </div>
        <a class="burger-menu">
            <i class="fa fa-bars buger"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta</a> <i class="fa fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a> <i class="fa fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <img src = "/img/img-home-banner.jpg" alt="Banner" class="banner_img">
    </header>
    <main>
        <section class="last-visit">
            <h3 class="tittle">Básado en tú última visita</h3>
            <div class="products">
                <article class="product">
                    <img src = "/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price"> 
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <img src = "/img/img-macbook-pro-2019.jpg" alt="Macbook" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price"> 
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <img src = "/img/img-samsung-galaxy-s10.jpg" alt="GalaxyS10" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price"> 
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="product">
                    <img src = "/img/img-tv-samsung-smart.jpg" alt="TvSSmart" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price"> 
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3 class="tittle">Ofertas</h3>
            <div class="products">
                <article class="product">
                    <img src = "/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price">  
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <img src = "/img/img-macbook-pro-2019.jpg" alt="Macbook" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price"> 
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <img src = "/img/img-samsung-galaxy-s10.jpg" alt="GalaxyS10" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price"> 
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="product">
                    <img src = "/img/img-tv-samsung-smart.jpg" alt="TvSSmart" class="product_img">
                    <div class="main-article">
                        <i class="fa fa-truck"></i>
                        <div class ="total_price">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="options">
            <article class="info">
                <i class="fas fa-credit-card"></i>
                <div class="footer-item">
                    <h4>Paga con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </article>
            <article class="info">
                <i class="fas fa-gift"></i>
                <div class="footer-item">
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </article>
            <article class="info">
                <i class="fas fa-user-shield"></i>
                <div class="footer-item">
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </article>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>